# xcode
frontend/build/*
frontend/*.pbxuser
frontend/!default.pxuser
frontend/*.mode1v3
frontend/!default.mode1v3
frontend/*.mode2v3
frontend/!default.mode2v3
frontend/*.perspectivev3
frontend/!default.perspectivev3
frontend/*.xcworkspace
frontend/!default.xcworkspace
frontend/xcuserdata
frontend/profile
frontend/*.moved-aside
frontend/*.swp
frontend/_site
frontend/!Objection.xcworkspace
frontend/pkg
.DS_Store

#CocoaPod
frontend/Pods/*
frontend/Podfile.lock

# Carthage
frontend/Carthage/Checkouts
frontend/Carthage/Build

#AppCode
frontend/.idea

